.App {
  text-align: center;
}

.sideMenu{
  width: 280px;
  background-color: #202123;
  color: white
}

.mainChatBox{
  background-color: #343541;
  color: gray
}

.inputBox{
  background-color: #40414F;
}

